<div class="row">
    <form ng-submit="search()">
        <fieldset>
            <div class="input-group col-md-10 col-xs-12">
                <input ng-model="query"
                       type="text"
                       class="input-large form-control"
                       style="width:100%"
                       id="query"
                       placeholder="Iskalni niz"
                       url="/v1/news/suggest/query?q=%QUERY"
                       filter="processSuggestions(parsedResponse)"
                       selected-item="selectedItem"
                       ng-typeahead
                        >
            </div>
            <div class="visible-xs visible-sm" >&nbsp;</div>
            <div class="col-md-2 col-xs-12"><button type="submit" class="btn btn-default btn-sm" style="width: 100%" ng-click="search()"><span class="glyphicon glyphicon-search pull-left"></span> Išči</div>
        </fieldset>
    </form>
</div>

<br />
<div class="row">
    <div class="col-md-10" infinite-scroll="loadInfinite();" infinite-scroll-disabled="loading || all_loaded" infinite-scroll-distance="2">
        <div data-ng-repeat="result_group in results_array" ng-show="results_array">
            <h3 class="text-center">{{ result_group.published | date:'mediumDate' }}</h3>
            <hr>
            <ul>
                <li class="list-unstyled" data-ng-repeat="result in result_group.articles">
                    <h4>
                        <a href="{{result.link}}"><span ng-bind-html="result.title"></span></a><br/>
                        <small>{{ result.source }};  {{ result.published | date:'mediumDate' }} {{ result.published | date:'shortTime' }}</small>
                    </h4>
                    <p data-ng-repeat="snippet in result.snippet">... <span ng-bind-html="snippet"></span> ...</p>
                    <a href="/#!/detail/{{ result.id }}" class="btn btn-xs pull-right">Podrobno</a>
                    <br />
                    <hr>
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center col-md-12" ng-hide="loading || results_array" id="no-results">
        <h3>Ni bilo najdenih rezultatov.</h3>
    </div>
    <div class="col-md-2">
        <div style="height: 2.5em;">&nbsp;</div>
        <legend ng-show="sources">
            Viri
            <a href="#" class="glyphicon glyphicon-remove pull-right" ng-show="search_filters.source" ng-click="filter('source', null)"></a>
        </legend>
        <ul class="list-group">
            <li data-ng-repeat="source in sources" class="list-group-item"><a href="#" ng-click="filter('source', source[0])">{{ source[0] }}</a> <span class="badge">{{ source[1] }}</span></li>
        </ul>
        <legend ng-show="publish_dates">
            Datumi
            <a href="#" class="glyphicon glyphicon-remove pull-right" ng-show="search_filters.published" ng-click="filter('published', null)"></a>
        </legend>
        <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="publish_date in publish_dates">
            <a href="#" ng-click="filter('published', publish_date[0])">{{ publish_date[0] | date:'mediumDate' }}</a> <span class="badge">{{ publish_date[1] }}</span>
        </li>
        </ul>
    </div>
    <div class="row progress progress-striped active col-md-14" ng-show="loading">
        <div class="progress-bar" style="width: 100%"></div>
    </div>
</div>